<%-include("partials/header", {css:"css/home.css", title: "InfinityLife: Your Future Self Awaits!" , metaDescription:"Embark on an epic journey through history with infinityLife. Create and evolve your character from ancient Rome to the modern era in this AI-powered historical evolution simulation game. Make strategic decisions, manage resources, and build a lasting legacy. Start your adventure today!"}) %>

<h1>Infinitylife</h1>

<p>Live Each Life As If It Were Your Last.</p>

<button id="start">
    Start Game
</button>

<img src="images/infinity.gif" alt="Infinity GIF" id="logo_animated">

<div class="edition_container">
    <p><i>* This edition of the game is based on Ancient Rome
        </i></p>
    <img src="images/colosseum.svg" alt="Colosseum" style="width: 20px; margin-left:5px;">
</div>

<p id="credits">A Game by Lorenzo Satta Chiris ©</p>

<script src="javascript/home.js"></script>

<%- include('partials/footer') -%>